*{
    font-family:"Tahoma","Microsoft JhengHei";
}
#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #d6c4ab;
    z-index: 999;
}
#status{
    position: fixed;
    width: 218px;
    /* height: 419px; */
    margin-left: -140px;
    margin-top: -160px;
    left: 52%;
    top: 55%;
}
#status img{
    width: 100%;
    animation:loading_img 1.9s;
}
@keyframes loading_img{
    0%{opacity: .3;transform:scale(1) ;}
    50%{opacity: 1;transform:scale(2) ;}
    100%{opacity: .3;transform:scale(2.2) ;}
}
#menu_control{
    position: absolute;
    display: none;
}

.header{
    height: 100%;
    position: relative;
    background-color: #fff;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    
}

.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
}
.menu_btn p{
    opacity: 0;
}
.menu_btn::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 2px;
    width: 36px;
    background-color: #7f694c;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 10px 0px #7f694c;
    transition: .5s;
}
.menu_btn::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 2px;
    width: 36px;
    background-color: #7f694c;
    bottom: 0;
    margin: auto;
    transition: .5s;
}

#menu_control:checked ~.full_header .header .menu_btn::before{
    transform: rotate(45deg);
    box-shadow:  0 0 0 transparent;
}
#menu_control:checked ~.full_header .header .menu_btn::after{
    transform: rotate(-45deg);
    bottom: 19px;
    box-shadow:  0 0 0 transparent;
}


.header .logo{
    height: 100%;
}
.logo img{
    height: 80px;
    margin: 5px 10px;
}
.icon_box{
    flex-direction: row;
    box-sizing: border-box;
}
.user_icon{
    height: 100%;
    /* background-image:url(pic/leaf.png) ;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    display: block;
    width: 400px;
    height: 400px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 15%;
    right: -10%; */
}
.icon_box a{
    text-decoration: none;
    /* margin: 0px 10px; */

}
.user_icon img{
    height: 20px;
    opacity:0.3;
    /* display: none; */
    /* padding-bottom: 5px; */
    
    margin-right: 20px;
}
.user_icon img:hover{
    opacity:1;
}
.user_icon span{
    position: fixed;
    font-size: 30px;
    color: #fff;
    transform: rotate(70deg);
    bottom: 50%;
    right: 33%;
    display: none;
}
.shop_icon{
    height: 100%;
    /* background-image:url(pic/leaf.png) ;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    display: block;
    width: 300px;
    height: 300px;
    transform: rotate(-40deg);
    position: fixed;
    bottom: 5%;
    right: -7%; */
}

.shop_icon img{
    height: 20px;
    opacity:0.3;
    /* display: none; */
}
.shop_icon img:hover{
    opacity:1;
}
.shop_icon span{
    position: fixed;
    font-size: 30px;
    color: #fff;
    transform: rotate(70deg);
    bottom: 52%;
    right: 37%;
    display: none;
}


.nav .item{
    /* border: black 1px solid; */
    width: 120px;
    height: 23px;
    line-height: 22px;
    float:left;
    overflow:hidden;
    text-align:center;
}
.nav a{
    text-decoration: none;
    display:block;
    width: 140px;
    color: #7f694c;
    overflow:hidden;
    margin-top: 1px;
    font-size: 15px;
}
.nav a span{
    display: block;
    margin-top: -22px;
}
.nav a:hover{
    padding-top: 20px;
}
.nav span::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:#7f694c;
    display: block;
}
.nav span:hover::after{
    width: 70%;
    margin: auto;
}


/* banner區 */
.full_banner{
    width: 100%;
    background-image:url(../pic/library\ \(new\).jpg) ;
    background-position: center;
    margin-top: 90px;
    box-shadow:0px -300px 10px #00000048 inset ,
               0px -400px 10px #00000031 inset ;
}

.logo_white{
    /* border: solid 2px black; */
    height: 70%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.logo_white img{
    /* border: 2px solid black; */
    height: 150px;
    /* position: relative;
    left: 640px;
    top: 200px; */
}

.booking{
    display:block;
    font-size: 27px;
    color: #fff;
    box-sizing: border-box;
    /* padding: 0px 40px; */
    letter-spacing: 10px;/*怎麼讓最後字沒有間距???*/
    text-align: center;
}
.booking h3 a{
    text-decoration: none;
    color: #fff;
}
.booking h3{
    border: solid 2px #fff;
    display: inline-block;
    padding: 0px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #dddddd3d,
                4px 4px 2px #dddddd2d,
                6px 6px 2px #dddddd1d;
    position: relative;
    top: 0;
    transition: .5s;
}
.booking h3:hover{
    top:4px;
    box-shadow: 0px 0px 0px #dddddd3d,
                0px 0px 0px #dddddd2d,
                2px 2px 0px #dddddd1d;
}
/* 滾滾滾出現跟消失 */
.scro{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}
.scro.active{
    transform: translateY(0px);
    opacity: 1;
}

/* 輪播 */
#sliderBoard{ /*多的藏起來*/
	/* border: 5px dashed #aaa;  */
	margin: auto;
	width: 690px;
	/* height: 600px; */
	overflow: hidden;
}

#sliderBoard ul{ 
	width: 2000px;
	position: relative;
    list-style-type: none;
	animation: slider 20s infinite;
    padding-inline-start: 0px;
}

#sliderBoard li{ /*幫自己排排站*/
	width: 400px;
	/* height: 600px; */

	font:bold 100px Tahoma;
	text-align: center;
	line-height: 200px;
	float: left; 
}
#sliderBoard img{
    width: 100%;
}


@keyframes slider{
	 0%{left:    0px}
	20%{left: -400px}
	35%{left: -800px}
	50%{left: -1200px}
	65%{left: -1600px}
	100%{left:   0px}
}





/* --------手機-------- */

@media screen and (max-width:875px) {
    .full_header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        border-bottom: #a77f69 4px solid;
        background-color: #fff;
    }
    .header_logo_wrap{
        background-color: #fff;
        position: relative;
        z-index: 11;
    }
    
    .nav{
        width: 100%;
        height: auto;
        background-color: #caa779;
        position: absolute;
        top: -1000%;
        text-align: center;
        margin:0px auto;
        opacity: 0;
        transition: .5s;
        z-index: 10;
    }
    .nav .item{
        width: 100%;
        text-align: center;
        margin:10px auto;
        /* border-bottom: 2px dashed #000; */
    }
    .nav a{
        text-align: center;
        margin: auto;
    }
    #menu_control:checked ~ .full_header .header .nav{
        opacity: 1;
        top:90px;
    }

    .icon_box{
        right: 2%;
        z-index: 11;
        margin-top: 0 ;
        position: absolute;
        top: 40px;
    }
    /* banner區 */
    .banner{
        /* border: black 1px solid; */
        width:100%;
        height: 550px;
        margin: auto;
        text-align: center;
    }
    .booking{
        margin-top: -100px;
    }
    /* 滾滾像下提示 */
    .banner .pho_scro{
        margin-top: 60px;
        width: 50px;
        animation: anim 2s;
        animation-iteration-count: infinite;
    }
    @keyframes anim {
        0% {
          transform:  sacle(1);
        }
        25% {
          transform:  scale(0.9);
        }
        50% {
          transform:  scale(0.9);
        }
        75% {
          transform:  scale(1);
        }
        
      }

    /* 休息室簡介 */
    .lounge{
        width: 100%;
        margin: auto;
        text-align: center;
        /* margin-top: 90px; */
    }
    .lounge .new{
        margin: 20px 0px;
        display: inline-flex;
        animation: new  2s infinite;
    }
    .lounge .new .what_new{
        margin: 5px 0px;
        font-size:16px;
        color: #fff;
        background-color: #7f694c;
        box-sizing: border-box;
        padding: 7px 7px;
        border-radius:15px 0px 0px 15px;
    }
    .lounge .new .con{
        margin: 5px 0px;
        font-size: 16px;
        border: #7f694c 2px solid;
        box-sizing: border-box;
        padding: 5px 100px 5px 7px;
        border-radius:0px 15px 15px 0px;
    }
    .lounge .new .con a{
        color: #7f694c;
        text-decoration: none;
    }
    @keyframes new{
        0%{opacity: .9; transform:  scale(1);}
        50%{opacity: 1; transform:  scale(1.1);}
        100%{opacity: .9; transform:  scale(1);}
    }
    /* .lounge .new .con a:hover{
        color: #7f694c;
    } */

    /* 不知道要不要加的多餘下底線 */
    /* .lounge .new .con a::after{
        content: '';
        width: 0;
        height: 2px;
        background-color: #7f694c;
        display: block;
        transition: .5s;
    }
    .lounge .new .con a:hover:after{
        width: 100%;
    } */
    .lounge_con{
        /* display: flex; */
        position: relative;
    }
    
    .lounge_txt{
        /* border: solid 1px black; */
        height: 100%;
        margin: 0px 50px;
        box-sizing: border-box;
        padding-bottom:30px ;
    }
    .lounge_txt h2 a{
        font-size: 30px;
        text-align: left;
        color: #7f694c;
        margin-bottom:5px ;
    }
    .lounge_txt h2{
        font-size: 25px;
        text-align: left;
        color: #7f694c;
    }
    .lounge_txt p{
        font-size: 16px;
        text-align: left;
        color: #aaa;
        letter-spacing: 2px;
        line-height: 30px;
    }
    .lounge_txt .lo_booking{
        text-align: right;
        margin-top:10px ;
    }
    .lounge_txt span a{
        margin: 10px;
        font-size: 14px;
        color: #7f694c;
    }

    /* 書籍分類 */
    .book{
        /* border: black solid 1px; */
        width: 100%;
        /* display: flex; */
        margin: auto;
        margin-top: 100px;
        text-align: center;
        margin-bottom: 70px;
        
        /* position: relative; */
    }

    .book_class{
        /* border: 1px solid black; */
        font-size: 25px;
        margin:auto;
        display: flex;
        text-align: center;
        /* position: absolute;
        top: -10%;
        left: 45%; */
        /* justify-content: space-around; */
        /* 背景ㄋQ_Q */
        background-image: url(../pic/scroll_1\ \(1\).png);
        /* background-color: #a77f69; */
        background-position: center ;
        background-size: 200px 100px;;
        background-repeat:no-repeat;
    }
    .book_class a{
        /* line-height: 80px; */
        color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        padding: 20px 40px;
        
    }
    /* .book_class a:hover{
        left: -30px;
    } */
    /* .book_class a::after{
        content: '';
        width: 0;
        height: 2px;
        background-color:#7f694c;
        display: block;
        transition: .3s;
    }
    .book_class a:hover:after{
        width: 100%;
    } */
    /* .choose_book{
        display: flex;
        margin: auto;
        width:70%;
    } */
    /* .choose_book .books{
        border: solid 1px black;
        text-decoration: none;
        display: flex;
        width: 100%;
    } */
    /* .choose_book .books img{
        height: 100px;
        margin: 20px 70px;
        transition: .5s;
    }
    .choose_book .books img:hover{
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
    }
    .choose_book .books p{
        font-size: 16px;
        margin: 20px;
        color: black;
    }
    .choose_book .books .price{
        font-size: 30px;
        color: #ca7e4c;
        text-align: right;
    }
    .left_right_button{
        margin-top: 110px;
        font-size: 40px;
        color: #7f694c;
        display: none;
    } */

    /* 商品 */
    .product{
        /* border: solid 1px black; */
        width: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* margin-top: 200px; */
        margin-bottom: 200px;
        justify-content: space-around;
        align-items: center;
    }
    .pr,.pr_long{
        position: relative;
        display: inline-block;
        width: 300px;
        margin-bottom: 20px;
    }
    .pr img,.pr_long img{
        width: 100%;
        vertical-align: top;
    }
    .pr .txt_box,.pr_long .txt_box{
        position: absolute;
        left: 0;
        top:0;
        display: block;
        background-color: transparent;
        height: 200px;
        width: 100%;
        margin: auto;
        transition: .5s;
    }
    .pr p{
        margin-top: 110px;
        color: #fff;
        font-size: 30px;
        
        
    }
    .pr_long p{
        margin-top: 110px;
        color: #fff;
        font-size: 30px;
    }
    /* .pr .txt_box:hover,.pr_long .txt_box:hover{
        background-color: #a77f6988;
    } */

    /* 頁尾 */
    footer{
        width: 100%;
        background-image: url(../pic/footer_2.png);
        background-position: center top 25%;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    .footer{
        /* border: solid 1px black; */
        width: 100%;
        margin: 0px auto;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .foot_txt{
        /* border: black 1px solid; */
        margin: 0px 15px;
    }
    .foot_txt p{
        font-size: 20px;
        /* margin: 10px 40px 5px 40px; */
        line-height: 30px;
        color: #7f694c;
    }
    .foot_txt a{
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        color: #7f694c;
    }
    .foot_icon{
        /* border: black 1px solid; */
        height: 100%;
        margin: 0px 15px;
    }
    .foot_icon p{
        font-size: 18px;
        /* margin: 10px 40px 5px 40px; */
        line-height: 30px;
        color: #7f694c;
    }
    .foot_icon a img{
        width: 30px;
    }
    .foot_logo{
        margin: 50px;
    }
    .copyright{
        text-align: center;
        display: inline-block;
        width: 100%;
        color: #999;
    }
    /* 頁尾 */
    .foot_logo img{
        display: none;
    }
    .foot_txt:nth-child(1){
        margin-left: 100px;
    }
    /* 輪播 */
    #sliderBoard{ /*多的藏起來*/
        /* border: 5px dashed #aaa;  */
        margin:  auto;
        width: 70%;
        /* height: 600px; */
        overflow: hidden;
    }

}







/* --------桌機-------- */

@media screen and (min-width:875px) {
    .full_header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        border-bottom: #a77f69 4px solid;
        background-color: #fff;
    }
    .header{
        /* border: #7f694c 1px solid; */
        width: 100%;
        background-color: #fff;
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: space-around;
        overflow:hidden;
    }
    .nav{
        /* font-size: 15px; */
        box-sizing: border-box;
        padding-top: 37px;
    }
    .menu_btn{
        display: none;
    }
    .icon_box{
        margin-top:40px ;
    }
    /* banner區 */
    .banner{
        /* border: black 1px solid; */
        width:1200px;
        height: 550px;
        margin: auto;
        text-align: center;
    }
    .banner .pho_scro{
        display: none;
    }

    /* 休息室簡介 */
    .lounge{
        width: 1200px;
        margin: auto;
        text-align: center;
    }
    .lounge .new{
        margin: 20px 0px;
        display: inline-flex;
        animation: new  2s infinite;
    }
    .lounge .new .what_new{
        margin: 5px 0px;
        font-size: 20px;
        color: #fff;
        background-color: #7f694c;
        box-sizing: border-box;
        padding: 6px 7px;
        border-radius:15px 0px 0px 15px;
    }
    .lounge .new .con{
        margin: 5px 0px;
        font-size: 20px;
        border: #7f694c 2px solid;
        box-sizing: border-box;
        padding: 5px 100px 5px 7px;
        border-radius:0px 15px 15px 0px;
    }
    .lounge .new .con a{
        color: #7f694c;
        text-decoration: none;
    }
    @keyframes new{
        0%{opacity: .9; transform:  scale(1);}
        50%{opacity: 1; transform:  scale(1.1);}
        100%{opacity: .9; transform:  scale(1);}
    }
    /* .lounge .new .con a:hover{
        color: #7f694c;
    } */
    .lounge_con{
        display: flex;
        position: relative;
    }
    /* .lounge_pic_01{
        height: 100%;
        
    } */
    /* .lounge_pic_01 img{
        height: 350px;
        margin-right: 70px;
        position: relative;
        margin-top: 50px;
        z-index: 2;
    }  */
    /* .lounge_pic_02{
        height: 100%;
    }
    .lounge_pic_02 img{
        height: 350px;
        opacity:0.3;
        position: absolute;
        left: 50px;
    }  */
    .lounge_txt{
        /* border: solid 1px black; */
        width:  100%;
        height: 400px;
        margin: 30px 50px;
        box-sizing: border-box;
        padding-bottom:30px ;
        overflow: hidden;
    }
    .lounge_txt h2 a{
        font-size: 30px;
        text-align: left;
        color: #7f694c;
        margin-bottom:5px ;
    }
    .lounge_txt h2{
        font-size: 25px;
        text-align: left;
        color: #7f694c;
    }
    .lounge_txt p{
        font-size: 16px;
        text-align: left;
        color: #aaa;
        letter-spacing: 2px;
        line-height: 30px;
    }
    .lounge_txt .lo_booking{
        text-align: right;
        margin-top:10px ;
    }
    .lounge_txt span a{
        margin: 10px;
        font-size: 14px;
        color: #7f694c;
    }



    /* 書籍分類 */
    .book{
        /* border: black solid 1px; */
        width: 1100px;
        /* display: flex; */
        margin: auto;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .book_class{
        /* border: 1px solid black; */
        font-size: 25px;
        margin:auto;
        /* position: relative; */
        /* 背景ㄋQ_Q */
        background-image: url(../pic/scroll_1\ \(1\).png);
        /* background-color: #a77f69; */
        background-position: center bottom 16px;
        background-size: contain;
        background-repeat:no-repeat;
    }
    
    .book_class a{
        line-height: 80px;
        color: #fff;
        text-decoration: none;
        display: block;
        margin:  auto;
        /* position: absolute; */
    }
    /* .book_class a:hover{
        left: -30px;
    }
    .book_class a::after{
        content: '';
        width: 0;
        height: 2px;
        background-color:#7f694c;
        display: block;
        transition: .3s;
    }
    .book_class a:hover:after{
        width: 100%;
    } */
    /* .choose_book{
        display: flex;
        margin: auto;
    }
    .choose_book .books{
        
        text-decoration: none;
    }
    .choose_book .books img{
        height: 130px;
        margin: 20px 70px;
        transition: .5s;
    }
    .choose_book .books img:hover{
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
    }
    .choose_book .books p{
        font-size: 16px;
        margin: 20px;
        color: black;
    }
    .choose_book .books .price{
        font-size: 30px;
        color: #ca7e4c;
        text-align: right;
    }
    .left_right_button{
        margin-top: 110px;
        font-size: 40px;
        color: #7f694c;
    } */



    /* 商品 */
    .product{
        /* border: solid 1px black; */
        width: 1200px;
        margin: auto;
        text-align: center;
        display: flex;
        /* margin-top: 200px; */
        margin-bottom: 200px;
        justify-content: space-around;
    }
    .pr,.pr_long{
        position: relative;
        margin: 0px 20px;
    }
    .pr img,.pr_long img{
        width: 100%;
        vertical-align: top;
    }
    .pr .txt_box,.pr_long .txt_box{
        position: absolute;
        left: 0;
        top:0;
        display: block;
        background-color: transparent;
        height: 150px;
        width: 100%;
        transition: .5s;
    }
    .pr p{
        margin-top: 110px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
    }
    .pr_long p{
        margin-top: 110px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
    }
    .pr .txt_box:hover,.pr_long .txt_box:hover {
        /* background-color: #a77f6988;
        font-size: 40px; */
        transform: scale(1.2);
    }

    /* 頁尾 */
    footer{
        width: 100%;
        background-image: url(../pic/footer_2.png);
        background-position: center top 25%;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    .footer{
        /* border: solid 1px black; */
        width: 100%;
        margin: 0px auto;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .foot_txt{
        /* border: black 1px solid; */
        margin: 0px 15px;
    }
    .foot_txt p{
        font-size: 20px;
        /* margin: 10px 40px 5px 40px; */
        line-height: 30px;
        color: #7f694c;
    }
    .foot_txt a{
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        color: #7f694c;
    }
    .foot_icon{
        /* border: black 1px solid; */
        height: 100%;
        margin: 0px 15px;
    }
    .foot_icon p{
        font-size: 18px;
        /* margin: 10px 40px 5px 40px; */
        line-height: 30px;
        color: #7f694c;
    }
    .foot_icon a img{
        width: 30px;
    }
    .foot_logo{
        margin: 50px;
    }
    .foot_logo img{
        height: 100px;
        opacity: .5;
        filter: brightness(60%);
    }
    .copyright{
        text-align: center;
        display: inline-block;
        width: 100%;
        color: #999;
    }

}



/* 新書區 */
:root {
    --columns: 3;
    
  }
  /* .box .more{
      text-decoration: none;
      position: absolute;
      bottom: 8%;
      right:10% ;
      font-size: 20px;
      color: #a77f69;
  } */
  
  
  .choose_book{
    display:grid;
    grid-template-columns: repeat(var(--columns),1fr);
    /* margin: -10%; */
    margin-top: 0;
    list-style-type: none;
    padding-inline-start: 0px;
  }
  .book .box{
      margin-top: -10%;
  }
  .choose_book li{
    grid-column-end: span 2;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -25%;
    margin-left: 10%;
  }
  
  .choose_book li:nth-child(2n){
    grid-column-start:2;
  }
  
  .choose_book li::before, .choose_book li::after {
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: left, right;
  }
  
  
  .choose_book li::before{
    z-index: -10;
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    /* -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: url(../pic/flower_up.png);
  }
  
  .choose_book li::after{
    clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%,80% 50%);
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%,80% 50%);
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: url(../pic/flower_down.png);
  }
  
  
  .choose_book img{
    position: absolute;
    width: 43%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
    transition-property: transform;
    transition-duration: .3s;
  }
  
  .choose_book img:hover{
    transform: translateX(-40%) translateY(-70%) rotatez(25deg);
  }
  .book .box{
      overflow: hidden;
  }
  @media (max-width:450px){
    .choose_book li:nth-child(1){
        margin-top: 50px;
      }
  }
  @media (min-width:450px){
    .choose_book{
      margin: 190px 40px;
    }
    
  }
  @media (min-width:600px){
    :root {
      --columns: 5;
    }
    .choose_book li:nth-child(2n){
      grid-column-start:auto;
    }
    .choose_book li:nth-child(4n-1){
      grid-column-start:2;
    }
    /* .book_class{
        top: -20%;
        left: 45%;

    } */
  }
  @media (min-width:900px){
    :root {
      --columns: 7;
    }
    .choose_book li:nth-child(4n-1){
      grid-column-start:auto;
    }
    .choose_book li:nth-child(6n-2){
      grid-column-start:2;
    }
  }
  @media (min-width:1200px){
    :root {
      --columns: 9;
    }
    .choose_book li:nth-child(6n-2){
      grid-column-start:auto;
    }
    .choose_book li:nth-child(8n-3){
      grid-column-start:2;
    }
  }

  /* 飛飛飛上去 */
#gotop {
    position: fixed;
    width: 20px;
    height: 52px;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background-image: url(../pic/pagetop.gif);
    /* background: rgba(255, 195, 139, 0.884); */
    background-position: bottom;
    background-size: cover;
    color: transparent;
    cursor: pointer;
    z-index: 20;
    
}
  
  
  
  



